table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}

A:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.gd {
	line-height: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
}
.dq {
	text-align: justify;
	line-height: 18px;
}


A:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline}
.P {
	FONT-SIZE: 12px;
	FONT-FAMILY: "ו";
	font-color: #a6a6a6;
	color: #333333;
	text-decoration: none;
}
a.link {
	color: #666666;
}
a.visited {
	color: #666666;
	text-decoration: none;
}
a.hover {
	color: #FF0000;
	text-decoration: underline;
}
.bg {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.border {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 15px;
	color: #555555;
	background-color: #efefef;
	border: 1px inset;
}
.yy {
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1);
}
.font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 14px;
	color: #1076C8;
	background-color: #EBF6FE;
	height: 18px;
	border: 1px inset;
	text-decoration: none;
}
.fontCopy {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #1076C8;
	text-decoration: none;
	background-color: #EBF6FE;
	border: 1px inset;
}
a:link {
	color: #FF6600;
	text-decoration: none;
}
a:visited {
	color: #FF6600;
	text-decoration: none;
}
a:hover {
	color: #663399;
	text-decoration: none;
}
.bk {
	border: 2px solid #CCCCCC;
}
.height_01 {
	line-height: 30px;
}
.gd_1 {
	line-height: 20px;
}
.dq_1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 19px;
	color: #666666;
	text-decoration: none;
	text-align: justify;
}
